$color__black: #000000;
$color__white: #ffffff;
$color__athens-gray: #f9f9fa;
$color__gallery: #eeeeee;
$color__ebony: #131333;
$color__mirage: #1c233c;
$color__cornflower-blue: #7280ff;
$color__comet: #626981;
$color__froly: #f15f73;
$color__yellow-orange: #feb633;
