$small-gutter: 20px;
$large-gutter: 40px;

$neat-grid: (
	columns: 4,
	gutter: $small-gutter
);

$small-screen: 375px;
$medium-screen: 768px;
$large-screen: 1280px;

$small-screen-grid: (
	columns: 4,
	gutter: $small-gutter,
	media: $small-screen
);
$medium-screen-grid: (
	columns: 12,
	gutter: $large-gutter,
	media: $medium-screen
);
$large-screen-grid: (
	columns: 12,
	gutter: $large-gutter,
	media: $large-screen
);
