.content {
	overflow: hidden;

	&__main {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(8);
		}
	}

	&__full-width {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(12);
		}
	}

	&__aside {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(4);
		}
	}

	p {
		margin-bottom: 20px;
	}

	ul {
		margin-bottom: 20px;
		padding-left: 20px;

		li {
			padding: 0 0 10px;
		}
	}
}
