.hero {
	float: left;
	margin-bottom: 60px;
	padding: 40px 0;
	position: relative;
	width: 100%;
	z-index: 0;

	@include grid-media($medium-screen-grid) {
		margin-bottom: 100px;
		padding: 60px 0;
	}

	&::before {
		@include position(absolute, null -30% 0 null);
		background-color: $color__mirage;
		border-bottom-right-radius: 400px;
		border-top: 1000px solid $color__mirage;
		content: '';
		height: 400px;
		min-width: 800px;
		width: 130%;
		z-index: 0;

		@include grid-media($medium-screen-grid) {
			right: -10%;
		}
	}

	.container {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
	}

	&__title {
		@include grid-column(3);
		padding: 10px 0 20px;
		z-index: 10;

		@include grid-media($medium-screen-grid) {
			@include grid-column(10);
			@include grid-shift(1);
			padding: 20px 0 30px;
			text-align: center;
		}

		h1 {
			margin: 0;
		}

		* {
			color: $color__athens-gray;
		}
	}

	&__content {
		@include grid-column(4);
		margin-bottom: 40px;
		position: relative;
		z-index: 10;

		@include grid-media($medium-screen-grid) {
			@include grid-column(6);
			margin-bottom: 0;
			padding: 60px 0;
		}

		* {
			color: $color__athens-gray;
		}
	}

	&__video {
		@include grid-column(4);
		position: relative;
		z-index: 10;

		@include grid-media($medium-screen-grid) {
			@include grid-column(6);
			padding-bottom: 0;
		}

		svg {
			@include position(absolute, null null -40px -100px);
			z-index: 0;
		}
	}

	&__video-container {
		background-color: $color__comet;
		border-radius: 20px;
		padding-bottom: calc(62% / 100 * 120);
		position: relative;
		width: 120%;
		z-index: 10;

		@include grid-media($medium-screen-grid) {
			width: 140%;
			padding-bottom: calc(62% / 100 * 140);
		}

		&::before {
			@include position(absolute, 20px 20px 20px 20px);
			background-color: $color__gallery;
			border-radius: 8px;
			content: '';
			z-index: 0;
		}
	}

	&__play-button {
		@include position(absolute, 0 0 0 0);
		background-clip: padding-box;
		background-color: $color__cornflower-blue;
		border: 20px solid rgba($color__cornflower-blue, .4);
		border-radius: 100px;
		content: '';
		height: 140px;
		margin: auto;
		text-indent: -9999px;
		transition: all 300ms ease;
		width: 140px;
		z-index: 20;

		&::after {
			@include position(absolute, 0 0 0 10px);
			border-bottom: 20px solid transparent;
			border-left: 30px solid $color__white;
			border-right: 0;
			border-top: 20px solid transparent;
			content: '';
			height: 0;
			margin: auto;
			width: 0;
		}

		&:hover {
			border: 0 solid rgba($color__cornflower-blue, .4);
		}
	}
}
